# Docs for the Azure Web Apps Deploy action: https://github.com/azure/functions-action
# More GitHub Actions for Azure: https://github.com/Azure/actions
# More info on Python, GitHub Actions, and Azure Functions: https://aka.ms/python-webapps-actions

name: Build and deploy Python project to Azure Function App - mpemon-kafka-c-ids-genmp-fa

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.' # set this to the path to your web app project, defaults to the repository root
  PYTHON_VERSION: '3.12' # make sure to set this to the python version to use (supports 3.6, 3.7, 3.8)

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      # Optionally, you can still install dependencies locally for testing, but Oryx will handle this on Azure
      # - name: Build '.python_packages' folder and Install dependencies
      #   run: |
      #     mkdir -p .python_packages/lib/site-packages
      #     pip install -r requirements.txt -t .python_packages/lib/site-packages
      #   working-directory: ./genmp

      - name: Run tests (placeholder)
        run: |
          echo "No tests implemented yet. Add your test command here."
        working-directory: ./genmp

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: |
            ./genmp

  deploy:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: 'Deploy to Azure Functions'
        uses: Azure/functions-action@v1
        id: deploy-to-function
        with:
          app-name: 'mpemon-kafka-c-ids-genmp-fa'
          slot-name: 'Production'
          package: python-app/genmp
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_9F197C928E0D47B5B9974D3BFF3E00CB }}



